@model MaxHelp_System_Upgrade.ViewModels.CentralMgtFinancialReportViewModel
@{
    ViewData["Title"] = "Financial Report";
}

<div class="row mt-3">
    <!-- Revenue Collection -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>Revenue Collection</h5>
                <ul style="list-style: none;" class="list-group">
                    @if (string.IsNullOrEmpty(Model.SelectedRevenuePeriod) || Model.SelectedRevenuePeriod == "Today")
                    {
                        if (Model.TotalRevenueToday.Count == 0)
                        {
                            <li>No Revenue To Display</li>
                        }
                        @foreach (var item in Model.TotalRevenueToday)
                        {
                            <li class="TopSales-list-group-item">
                                @item.BusinessUnitName - ₦@string.Format("{0:n}", item.Revenue)
                            </li>
                        }
                    }
                    else if (Model.SelectedRevenuePeriod == "This Week")
                    {
                        @foreach (var item in Model.TotalRevenueThisWeek)
                        {
                            <li class="TopSales-list-group-item">
                                @item.BusinessUnitName - ₦@string.Format("{0:n}", item.Revenue)
                            </li>
                        }
                    }
                    else if (Model.SelectedRevenuePeriod == "Last Month")
                    {
                        @foreach (var item in Model.TotalRevenueLastMonth)
                        {
                            <li class="TopSales-list-group-item">
                                @item.BusinessUnitName - ₦@string.Format("{0:n}", item.Revenue)
                            </li>
                        }
                    }
                    <li class="TopSales-list-group-item">
                        TOTAL - ₦@string.Format("{0:n}", Model.TotalRevenueForAllBU)
                    </li>
                </ul>
                @* <ul class="list-group">
                @foreach (var revenue in Model.TotalRevenueToday)
                {
                <li class="TopSales-list-group-item">
                @revenue.BusinessUnitName - ₦@string.Format("{0:n}", revenue.Revenue)
                </li>
                }
                </ul> *@
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                        @(Model.SelectedRevenuePeriod ?? "Today")
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="?selectedRevenuePeriod=Today&selectedSalesPeriod=@Model.SelectedSalesPeriod&selectedTopSalesPeriod=@Model.SelectedTopSalesPeriod">Today</a></li>
                        <li><a class="dropdown-item" href="?selectedRevenuePeriod=This Week&selectedSalesPeriod=@Model.SelectedSalesPeriod&selectedTopSalesPeriod=@Model.SelectedTopSalesPeriod">This Week</a></li>
                        <li><a class="dropdown-item" href="?selectedRevenuePeriod=Last Month&selectedSalesPeriod=@Model.SelectedSalesPeriod&selectedTopSalesPeriod=@Model.SelectedTopSalesPeriod">Last Month</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Top Sales -->
<div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <h5>Top Sales</h5>
            <ul style="list-style: none;" class="list-group">
                @if (string.IsNullOrEmpty(Model.SelectedTopSalesPeriod) || Model.SelectedTopSalesPeriod == "Today")
                {
                    if (Model.TopSalesToday.Count == 0)
                    {
                        <li>No Top Sales To Display</li>
                    }
                    @foreach (var item in Model.TopSalesToday)
                    {
                        <li class="TopSales-list-group-item">
                            @item.ItemName - @item.SalesCount Sales - ₦@string.Format("{0:n}", item.TotalAmount)
                        </li>
                    }
                }
                else if (Model.SelectedSalesPeriod == "This Week")
                {
                    @foreach (var item in Model.TopSalesThisWeek)
                    {
                        <li class="TopSales-list-group-item">
                            @item.ItemName - @item.SalesCount Sales - ₦@string.Format("{0:n}", item.TotalAmount)
                        </li>
                    }
                }
                else if (Model.SelectedSalesPeriod == "Last Month")
                {
                    @foreach (var item in Model.TopSalesLastMonth)
                    {
                        <li class="TopSales-list-group-item">
                            @item.ItemName - @item.SalesCount Sales - ₦@string.Format("{0:n}", item.TotalAmount)
                        </li>
                    }
                }
            </ul>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                    @(Model.SelectedTopSalesPeriod ?? "Today")
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="?selectedTopSalesPeriod=Today&selectedSalesPeriod=@Model.SelectedSalesPeriod&selectedRevenuePeriod=@Model.SelectedRevenuePeriod">Today</a></li>
                    <li><a class="dropdown-item" href="?selectedTopSalesPeriod=This Week&selectedSalesPeriod=@Model.SelectedSalesPeriod&selectedRevenuePeriod=@Model.SelectedRevenuePeriod">This Week</a></li>
                    <li><a class="dropdown-item" href="?selectedTopSalesPeriod=Last Month&selectedSalesPeriod=@Model.SelectedSalesPeriod&selectedRevenuePeriod=@Model.SelectedRevenuePeriod">Last Month</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>